.user-profile-menu-wrapper {
    .profile-img {
        width: 2.25rem;
        margin-left: 5px;
        margin-right: 5px;
    }
    .profile-name {
        color: #FFFFFF;
        font-size: 0.875rem;
        letter-spacing: 0;
    }
}