.toolbar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.app-logo-wrapper {
    position: absolute;
    left: 0.5rem;
}

.user-actions-wrapper {
    position: absolute;
    right: 0.5rem;
}