.toolbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.user-actions-wrapper {
    display: flex;
}

.app-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}