.filters-wrapper {
    input {
        display: block;
        width: 9.3rem;
    }
    select {
        display: block;
        width: 9.3rem;
    }
    label {
        display: block;
        text-align: start;
    }
}