.App {
    text-align: center;
    position: relative;
    margin-top: 6.25rem;
    height: 100vh;
    .App-intro {
        font-size: large;
    }
    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}