.App {
    text-align: center;
    position: relative;
    height: 100vh;
}

.app-container {
    margin-top: 5rem;
}

.app-modal-header-title {
    color: #342aa4;
    font-size: 16px;
}

.app-layout-container {
    margin-left: 18%;
    color: #342aa4;
    font-size: 16px;
}