@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "assets/styles/colors";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.btn.btn-helppal {
  background-color: $main-color;
  color: $main-text-color;
}